{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "quoteProps": "preserve",
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "importOrderSeparation": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins" : ["classProperties", "decorators-legacy", "typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
